
<h1><%= @theme.theme %></h1>

<table border="2">
<tr>
<td width="50%">
<table border="1">
  <% @theme.posts.each do |post| %>
  <tr>
    <td>
      <%= post.twitter_user %>
    </td>
    <td>
      <%= post.text %>
    </td>
  </tr>
  <% end %>
</table>
<br/> <br/> <br/>
<%= form_for(@current_post) do |rf| %>
  <%= label_tag "Your comments" %>
  <br/>
  <%= rf.text_field :text %>
  <%= rf.hidden_field :theme_id, :value => @theme.id %>
  <br/> <br/>
  <%= rf.label :twitter_user, "Your twitter username" %>
  <br/>
  <%= rf.text_field :twitter_user %>
  <br/>
  <%= rf.submit 'Save' %>
  <br/>
<% end %>
</td>

<td>
<table>
<% @theme.tweets.each do |tw| %>
  <tr>
    <td>
    <%= tw.twitter_user %>
    </td>
    <td>
    <%= tw.tweet%>
    </td>
    <td>
      <%= central_time(tw.created_at) %>
    </td>
  </tr>
<% end %>

</table>
</td>
</tr>
</table>

