<br/>

<h1>Let's pick a topic!</h1>

<%= form_tag '/keywords/search' do |f| %>
<%=label_tag :keyword,'Keyword' %> <%= text_field_tag :keyword %><br/><br/>
<%=label_tag :lat,'Latitude' %> <%= text_field_tag :lat %><br/><br/>

<%=label_tag :lon,'Longitude' %> <%= text_field_tag :lon %><br/><br/>
<%=label_tag :dist,'Distance' %> <%= text_field_tag :dist %><br/><br/>
<%=submit_tag 'Find kindred spirits'%>
<% end %>
